<div *ngIf="username">
  <div class="row justify-content-between">
    <h5 class="col-sm-6">Welcome {{username}}!</h5>
    <a (click)="logout()" class="nav-link col-sm-3" routerLinkActive="active" routerLink = "/login">Logout</a>
  </div>

    <br>
    <br>

    <!--Search ... begins-->
    <form>
      <div class="form-group">
         <h2 class="col-sm-6">Search for hero:</h2>    
      </div>
      <div >
        <label for="searchId"  class="col-sm-1">Hero Id:</label>
        <input type="number" id="searchId" name="searchId" class="col-sm-1" [(ngModel)]="heroId">
        <button (click)="getHeroById()" class="btn btn-success col-md-1 offset-md-1">Search</button>
        <button *ngIf="hero" (click)="addFavourite()" class="btn btn-success col-md-2 offset-md-1">Add to Favourites</button>
      </div>  

      <div *ngIf="hero" class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{hero.imgUrl}}" alt="Card image cap">
        <div class="card-body">
          <ul>
            <li><b>Hero Name:</b> {{hero.name}}</li>
            <li><b>Intelligence:</b> {{hero.intelligence}}</li>
            <li><b>Durability:</b> {{hero.durability}}</li>
            <li><b>Power:</b> {{hero.power}}</li>
            <li><b>Speed:</b> {{hero.speed}}</li>
            <li><b>Combat:</b> {{hero.combat}}</li>
            <li><b>Strength:</b> {{hero.strength}}</li>
          </ul>
        </div>
      </div>
    </form>
    <!--Search ... ends here-->
    
    <br>
    <br>

    <!--favourite hero list comes here-->
    <form>
      <div>
        <button (click)="viewFavourites()" class="btn btn-success">View Favourite Heros</button>
      </div>
      <div *ngIf="favHeros.length>0" class="container">
        <div class="row">
          <div *ngFor="let hero of favHeros" class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{hero.imgUrl}}" alt="Card image cap">
            <div class="card-body">
              <ul>
                <li><b>Hero Name:</b> {{hero.name}}</li>
                <li><b>Intelligence:</b> {{hero.intelligence}}</li>
                <li><b>Durability:</b> {{hero.durability}}</li>
                <li><b>Power:</b> {{hero.power}}</li>
                <li><b>Speed:</b> {{hero.speed}}</li>
                <li><b>Combat:</b> {{hero.combat}}</li>
                <li><b>Strength:</b> {{hero.strength}}</li>
              </ul>
            </div>
          </div>
          <br>
        </div>
      </div>
      
    </form>
    <!--favourite hero list ends-->
    <br>
    <br>  

    <!--Create Hero  ....begins -->
    <div>
      <form>
        <div class="row">
          <h6 class="text-danger">{{validationMessage}}</h6>
        </div>
          <div class="row">
          <h4 class="col-sm-6">Create your character:</h4>    
          </div>
        <div class="row">
          <label for="characterName">Character Name:</label>
          <input type="text" id="characterName" name="characterName" class="col-sm-2" [(ngModel)]="newCharacterName">
        </div>  
        <div class="row">
          <h5 class="col-sm-6">Powerstats:</h5>    
        </div>
        <div class="row">
          <label for="intelligence">Intelligence:</label>
          <input type="number" id="intelligence" name="intelligence" class="col-sm-2" [(ngModel)]="newIntelligence">
        </div>
        <div class="row">
          <label for="strength">Strength:</label>
          <input type="number" id="strength" name="strength" class="col-sm-2" [(ngModel)]="newStrength">
        </div>
        <div class="row">
          <label for="speed">Speed:</label>
          <input type="number" id="speed" name="speed" class="col-sm-2" [(ngModel)]="newSpeed">
        </div>
        <div class="row">
          <label for="durability">Durability:</label>
          <input type="number" id="durability" name="durability" class="col-sm-2" [(ngModel)]="newDurability">
        </div>
        <div class="row">
          <label for="power">Power:</label>
          <input type="number" id="power" name="power" class="col-sm-2" [(ngModel)]="newPower">
        </div>
        <div class="row">
          <label for="combat">Combat:</label>
          <input type="number" id="combat" name="combat" class="col-sm-2" [(ngModel)]="newCombat">
        </div>
      </form>
      <button *ngIf="!created" (click)="createCharater()" class="btn btn-success col-sm-6">Create Character</button>
      <button *ngIf="created" (click)="updateCharater()" class="btn btn-success col-sm-6">Update Character</button>
    </div>
    <!--Create Hero  ....ends -->


    <!--Show created hero-->
    <div class="row">
      <div *ngIf = "created" class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/own-hero.jpg" alt="Card image cap">
        <div class="card-body">
          <ul>
            <li><b>Hero Name:</b> {{newCharacterName}}</li>
            <li><b>Intelligence:</b> {{newIntelligence}}</li>
            <li><b>Durability:</b> {{newDurability}}</li>
            <li><b>Power:</b> {{newPower}}</li>
            <li><b>Speed:</b> {{newSpeed}}</li>
            <li><b>Combat:</b> {{newCombat}}</li>
            <li><b>Strength:</b> {{newStrength}}</li>
          </ul>
        </div>
      </div>
      <br>
    </div>

    <!--Battle Sim-->
    <div>
      <h2>Battle Simulation</h2>
      <form>
      <div>
        <label for="searchHeroId1">Character 1 ID:</label>
        <input type="number" id="searchHeroId1" name="searchHeroId1" class="form-control" [(ngModel)]="battleHeroId1">
      </div>  
      <div>
        <label for="searchHeroId2">Character 2 ID:</label>
        <input type="number" id="searchHeroId2" name="searchHeroId2" class="form-control" [(ngModel)]="battleHeroId2">
      </div>  
    </form>
    <button (click)="heroBattle()" class="btn btn-success">Let the battle begin!</button>
    </div>
    <div *ngIf="visibility">
      <p>Hero Name 1: {{battleHero1.name}}</p>
      <img src="{{battleHero1.imgUrl}}">
      <h2>VS.</h2>
      <p>Hero Name 2: {{battleHero2.name}}</p>
      <img src="{{battleHero2.imgUrl}}">
    </div>
    <div *ngIf="visibilityRandom">
      <p>Hero Name 1: {{randomHero1.name}}</p>
      <img src="{{randomHero1.imgUrl}}">
      <h2>VS.</h2>
      <p>Hero Name 2: {{randomHero2.name}}</p>
      <img src="{{randomHero2.imgUrl}}">
    </div>
    <p *ngIf="hero1Win">{{battleHero1.name}} wins!</p>
    <p *ngIf="hero2Win">{{battleHero2.name}} wins!</p>
    <p *ngIf="draw">Its a draw!</p>
    <p *ngIf="random1Win">{{randomHero1.name}} wins!</p>
    <p *ngIf="random2Win">{{randomHero2.name}} wins!</p>
    <p *ngIf="randomDraw">Its a draw!</p>
    <br>
    <br>
  <button (click)="randomHeroBattle()" class="btn btn-success">Let two random Heroes battle!</button>
  

  </div>
  <div *ngIf="!username">
    <h1 class="text-danger">YOU MUST BE LOGGED IN TO VIEW THIS PAGE!</h1>
  </div>
